// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#event1 {display: none;}
#event2 {display: none;}
#event3 {display: none;}
#event4 {display: none;}
#event5 {display: none;}
#event6 {display: none;}
#event7 {display: none;}
#event8 {display: none;}
#event9 {display: none;}
#event10 {display: none;}
#event11 {display: none;}
#event12 {display: none;}
#event13 {display: none;}
#event14 {display: none;}
#event15 {display: none;}
#event16 {display: none;}
#event17 {display: none;}
#event18 {display: none;}
#event19 {display: none;}
#event20 {display: none;}
#event21 {display: none;}
#event22 {display: none;}
#event23 {display: none;}
#event24 {display: none;}
#event25 {display: none;}
#event26 {display: none;}
#event27 {display: none;}
#event28 {display: none;}

.kick {font-family: "helvetica",serif; font-weight: 700px; float: left; width: 100%;}
.kickstarter {display: none;}
.home-image {float: left; width: 50%; margin: 200px 25%; padding: 0;}

.launch-section {background-color: #16a085; float: left; width: 100%; margin: 0; padding: 0px 0 50px 0;}
.calendar {float: left; width: 100%; margin: 0; padding: 0;}
.calendar-row {float: left; width: 100%; margin: 0; padding: 0 5%;}
.day {float: left; width: 12%; min-width: 100px; margin: 5px 1%; padding: 0px; height: 200px; border: 2px solid #fff; background-color: #1abc9c; color: #fff;  font-size: 18px; line-height: 20px;}
.date {float:left; border-bottom: 2px solid #fff; border-right: 2px solid #fff; padding: 4px; font-size: 18px; line-height: 20px;}
.event {float: left; width: 100%; padding: 15px 5%;}
.current-event {float: left; height: auto; padding: 0; margin: 0 0 25px 0; width: 100%; background-color: #fff;}
.event-img {float: left; width: 100%; margin: 0; padding: 0; height: auto;}

.calendar a div.day:hover {background-color: #fff; color: #1abc9c;}

.main-section {background-color: #2980b9; float: left; width: 100%; margin: 0; padding: 0px 0 50px 0;}

.about-section {background-color: #e74c3c; float: left; width: 100%; margin: 0; padding: 0px 0 0px 0;}
.about-info {float: left; color: #fff; width: 50%; padding: 50px 5% 25px 5%; font-size: 16px; line-height: 18px;}

.image-50 {float: left; width: 50%; margin: 0; padding: 0;}

.video-section {background-color: #000; float: left; width: 100%; margin: 0; padding: 0px 0 0px 0; height: 600px;}

.connect ul {float: left; width: 100%; list-style: none; padding: 25px 5%;}
.connect ul li {float: left; width: 100%; font-size: 30px; padding: 10px 0; line-height: 30px; color: #fcfa31; text-transform: uppercase; font-family: 'Bauhaus 93 Regular', 'helvetica', serif; font-weight: 700;}
.connect ul li a {color: #fcfa31; padding: 15px;}
.connect ul li a:hover {color: #000; padding: 15px; background-color: #fcfa31; text-decoration: none;}
.connect ul li i.fa.fa-chevron-right {padding: 0 10px;}

.support {float: left; padding: 15px 5%; width: 100%; color: #fff;}

.sponsor-section {background-color: #e74c3c; min-height: 400px; height: auto; float: left; width: 100%; margin: 0; padding: 0px 0 0px 0;}
.artist-section {background-color: #c0392b; min-height: 200px; height: auto; float: left; width: 100%; margin: 0; padding: 0px 0 0px 0;}
.member-section {background-color: #c0392b; min-height: 200px; height: auto; float: left; width: 100%; margin: 0; padding: 0px 0 0px 0;}

.artists-half {float: left; width: 60%; padding: 25px 0% 25px 5%; font-size: 20px; line-height: 22px; color: #fff;}
.artists-half2 {float: left; width: 40%; padding: 25px 5%; font-size: 20px; line-height: 22px; color: #fff;}

.artists-half h1 {float: left; width: 100%; font-size: 30px; line-height: 32px; color: #fcfa31; font-weight: 700;}
.artists-half ul {list-style-type: none; float: left; width: 100%; margin: 0; padding: 0;}
.artists-half ul li {float: left; width: 100%; margin: 5px 0; padding: 0;}
.artists-half h2 {float: left; width: 100%; font-size: 24px; line-height: 26px; color: #fff; margin-bottom: 0;}
.artists-half h3 {float: left; font-size: 40px; line-height: 22px; color: #fff; width: 100%;}
.artists-half a.button-art {border: 2px solid #fcfa31; border-radius: 10px; float: left; margin: 10px; padding: 5px 10px; color: #fcfa31; font-size: 24px; line-height: 26px;}
.artists-half a.button-art:hover {text-decoration: none; border: 2px solid #fff; border-radius: 10px; float: left; margin: 10px; padding: 5px 10px; color: #fff; font-size: 24px; line-height: 26px;}

.artists-half h6 {float: left; margin: 0;}

.artists-half2 h1 {float: left; width: 100%; font-size: 30px; line-height: 32px; color: #fcfa31; font-weight: 700;}
.artists-half2 ul {list-style-type: none; float: left; width: 100%; margin: 0; padding: 0;}
.artists-half2 ul li {float: left; width: 100%; margin: 5px 0; padding: 0;}
.artists-half2 h2 {float: left; width: 100%; font-size: 24px; line-height: 26px; color: #fff;  margin-bottom: 0;}
.artists-half2 h3 {float: left; font-size: 40px; line-height: 22px; color: #fff; width: 100%;}
.artists-half2 a.button-art {border: 2px solid #fcfa31; border-radius: 10px; float: left; margin: 10px; padding: 5px 10px; color: #fcfa31; font-size: 24px; line-height: 26px;}
.artists-half2 a.button-art:hover {text-decoration: none; border: 2px solid #fff; border-radius: 10px; float: left; margin: 10px; padding: 5px 10px; color: #fff; font-size: 24px; line-height: 26px;}

.artists-half2 h6 {float: left; margin: 0;}


.strikethru {text-decoration: line-through; font-size: 20px;}

.support div.kick {float: left; margin: 15px 0; font-size: 30px; line-height: 30px;}

.main-section h1 {float: left; color: #fff; font-weight: 700; padding: 0 10%; }

.sponsor-section h1 {float: left; width: 100%; padding: 0 5%; color: #fcfa31; font-weight: 700;}

.sponsor-section div.sponsor-info {float: left; width: 100%; padding: 0 5%; color: #fff; font-size: 18px; line-height: 22px;}
.partnership-box {float: left; width: 100%; height: auto; margin: 0; padding: 10px 5%;}
.partnership-column {float: left; width: 50%; height: auto; margin: 0; padding: 0;}
.partnership1 {float: left; width: 100%; height: auto; min-height: 250px; background-color: #fcfa31; color: #000; padding: 5px 5%; margin: 0 0 0 0;}
.partnership2 {float: left; width: 100%; height: auto; min-height: 250px; background-color: #2980b9; color: #000; padding: 5px 5%; margin: 0 0 0 0;}
.partnership3 {float: left; width: 100%; height: auto; min-height: 250px; background-color: #16a085; color: #000; padding: 5px 5%; margin: 0 0 0 0;}
.partnership3 {float: left; width: 100%; height: auto; min-height: 250px; background-color: #16a085; color: #000; padding: 5px 5%; margin: 0 0 0 0;}
.partnership4 {float: left; width: 100%; height: auto; min-height: 250px; background-color: #3498db; color: #000; padding: 5px 5%; margin: 0 0 0 0;}
.partnership5 {float: left; width: 100%; height: auto; min-height: 250px; background-color: #1abc9c; color: #000; padding: 5px 5%; margin: 0 0 0 0;}
.partnership6 {float: left; width: 100%; height: auto; min-height: 250px; background-color: #c0392b; color: #000; padding: 5px 5%; margin: 0 0 0 0;}

.price-sponsor {float: left; width: 100%; text-align: right; font-size: 30px; line-height: 30px;}






@media screen and (max-width: 640px){

.video-section {background-color: #1abc9c; background-image: url('oktoberfest7-mobile.jpg'); float: left; width: 100%; margin: 0; padding: 0px 0 0px 0; min-height: 300px; height: auto !important;}
.connect ul {float: left; width: 100%; list-style: none; padding: 25px 2.5%;}
.connect ul li {float: left; width: 100%; font-size: 14px; padding: 5px 0; line-height: 14px; color: #fcfa31; text-transform: uppercase; font-family: 'Bauhaus 93 Regular', 'helvetica', serif; font-weight: 300;}
.connect ul li a {color: #fcfa31; padding: 10px;}
.connect ul li a:hover {color: #000; padding: 10px; background-color: #fcfa31; text-decoration: none;}
.connect ul li i.fa.fa-chevron-right {padding: 0 2px;}

.support h1 {font-size: 20px; line-height: 22px;}
.support div.kick {float: left; margin: 15px 0; font-size: 20px; line-height: 22px;}

.artists-half {float: left; width: 100%; padding: 15px 2.5% 15px 2.5%; font-size: 16px; line-height: 18px; color: #fff;}
.artists-half2 {float: left; width: 1000%; padding: 10px 5%; font-size: 16px; line-height: 18px; color: #fff;}

.artists-half h1 {font-size: 24px; line-height: 24px;}
.artists-half2 h2 {font-size: 20px; line-height: 22px;}

.sponsor-section div.sponsor-info {font-size: 14px; line-height: 16px;}

.video-section div.connect img.image-50 {width: 75%;}
.sponsor-section h1 {font-size: 24px; line-height: 24px;}

.partnership-column {float: left; width: 100%; height: auto; margin: 0; padding: 0;}
.partnership-box div.partnership-column ul {padding: 0 0 0 5%;}
.partnership-box div.partnership-column ul li {font-size: 14px; line-height: 16px;}

.price-sponsor {font-size: 20px; line-height: 20px;}
.sponsor-section div.partnership-box div.partnership-column h2 {font-size: 24px; line-height: 26px;}
.artist-section div.artists-half2 h3 {font-size: 30px; line-height: 30px;}
.artist-section div.artists-half h3 {font-size: 30px; line-height: 30px;}

.main-section h1 {font-size: 24px; line-height: 26px;}

.day {float: left; width: 12%; min-width: 100px; margin: 5px 1%; padding: 0px; height: 150px; border: 2px solid #fff; background-color: #1abc9c; color: #fff;  font-size: 16px; line-height: 18px;}


}


